{% extends 'layout.html' %}




{% block body %}


<h3>Hakkımızda</h3>
<hr>

<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum laboriosam laudantium praesentium rem animi hic consectetur quasi ad, alias nostrum, a delectus fugit magnam molestiae, distinctio et. Molestiae deleniti quisquam aliquid, voluptatum cumque atque temporibus! Aspernatur nesciunt reprehenderit libero, quas itaque error aliquid, suscipit ipsa recusandae magnam totam cumque. Velit, cupiditate ex. Et corrupti, maiores repudiandae in nam fuga ratione laborum vero atque provident quod? Eaque itaque perferendis neque asperiores expedita non delectus pariatur dolores adipisci doloribus repellat, odit nam iure, fugit dicta facilis animi voluptas laudantium natus, laboriosam veniam nobis labore. Praesentium unde maiores ducimus delectus aut! Voluptatum, neque!
</p>





{% endblock body %}







