<!DOCTYPE html>
<!--{% load static %} -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="{% static 'css/style.css' %}">  dinamik olarak ulaşmış oluyoruz dosyalar değişse bile yeri farketmez.-->
    <!--  eğer dosyamız app içinde olmasaydı dışarıda olsaydı nasıl entegrasyon sağlardık settings kısmının en altına git-->
    
    <!-- <link rel="stylesheet" href="{% static 'style.css' %}">  dışarıdaki dosyadan-->
    <title>BdBlog</title>
</head>
<body>
    
    <!--<h3>Anasayfa</h3>  şimdi urls.py blog altında gidelim-->
    <!--<p>Deneme</p> -->




</body>
</html>