{% extends 'layout.html' %}


{% block body %}

<div class ="jumbotron text-center">

        <h3>Burak Doğan Kişisel İnternet Sayfama Hoşgeldiniz</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea laudantium id voluptas distinctio maiores, suscipit nihil deleniti ad totam excepturi?</p>

</div>


<!-- Views içinden context gönderme if ve for örnekleri -->
<!--{% if number1 == 20 %}
        <p>Sayımızı 20 'ye eşit</p>
{% else %}
        <p>Sayımız 20'ye Eşit</p>
{% endif %} -->

<!--<p>
        {{number2}}
</p> -->

<!--<ul>
{% for number in numbers %}

        <li>{{number}}</li>

{% endfor %}
</ul> -->

{% endblock body %}





